<mat-nav-list>
    <mat-list-item>
        <button routerLink="restaurant" mat-button><mat-icon fontIcon="restaurant"></mat-icon> Restaurant</button>
    </mat-list-item>
    <mat-list-item>
        <button routerLink="" mat-button><mat-icon>home</mat-icon> Home</button>
    </mat-list-item>
    <mat-list-item>
        <button routerLink="slider" mat-button><mat-icon>explore</mat-icon> Slider</button>
    </mat-list-item>
    <mat-list-item>
        <button routerLink="table" mat-button><mat-icon>table</mat-icon> Table</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button><mat-icon>settings</mat-icon> Settings</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button><mat-icon>help</mat-icon> Help</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
    </mat-list-item>
</mat-nav-list>