.item-card {
  width: 400px;
  margin-bottom: 8px;
}

/* list-cards.component.css */



.mat-mdc-card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  text-align: left;
}

.mat-card {
  flex: 1 0 300px; /* Flex-grow, flex-shrink, flex-basis */
  max-width: calc(50% - 20px); /* To maintain gap between items */
  width: 400px;
}

.mat-mdc-card-title
{
  font-size: 15px;
}

.mat-mdc-card-content
{
  font-size: 12px;
  height: 40px;
}